<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>server</title>
    <link href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABmJLR0QA/wD/AP+gvaeTAAACYElEQVR4nO2avUokQRDHf7oiJocmZruJKPcIGig+iPjxGD6BevlxD3CBgYiZCpoo6Duc6yWKe3CK4EditgZdDaPMzPb29ozTO/WDAq3Z7q6a6q+/LiiKoihKPywAp8Ar0K2IvQInwHyBeQOwDLx9YaK97A1YKir5BnAlA/0EpooayIMp4BcmtitMrMFZSwwwVsQAAzIGtDExroXuvJHofFV8l5Q3tS8SsaSNa5/bIrVxnAWjji9gBZiTjnfF13VsG4Juxs+ffbvANSbWlVCDN4A/fKx+lVnHxHpNoKUavMOCSRZs4L0gtupbghUttupbgsyCWKtvGbh4q/R5pFSMtKO7L86l8UbAoMpmA5PDmU/jF2k8GTKikpnE5PCS9YGRnMZlXnTKIDVX15vg0OKyO+bNkhjIncm1nwExv4Bx4AfwD+gAO+ILhpWan7nkozwtwufCjsT3X6wLbKd8LiuPnmQ1TPOH9OX9nSH5ojqYxL+J3YvPNQ+gmksgr1pZz0Z6PM/E545sK1SUb9Exjt/AJvAX8wKmSV8C3nivnZIYxyTcAe6ALdI3Qe88nqVh0zPAKtDC5PDk03hfGh9JR7HRAo4xOez5dDALPFD+PzdC2wMwk5Vk3ikQ+xU4iVcudgkcEuc+0MQsX+8lUPtNMIZj0EULBL8KqxZI8asWCIhqAcc4VAugWqAnqgVQLaBaAFQLqBZQLeAzQCxa4EasllrgBpgQu0W1QD21QFt+b6FaIOwmaL8iU9tj8IDh0QL7Ph18Bx75+rv8oPaI+fK0F03MNdLeCmOyZ0zlvZNXFEVRhp13MIdqn7bdu/AAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
    <!--favicon source: https://icons8.com/icon/set/computer-hardware/wired-->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
</head>

<body>
    <div class="info">
        <h1>{{diskinfo}}<br></h1>
    </div>

    <div>
	{% with messages = get_flashed_messages() %}{% if messages %}
   	<ul class="message">
        	{% for message in messages %}
       		<li style="background-color: rgba(255, 0, 0, 0.4) !important;">{{ message }}</li>
        	{% endfor %}
    	</ul>
	{% endif %}{% endwith %}
    </div>

    <!-- <p>{% with messages = get_flashed_messages() %}{% if messages %}
        <ul class=flashes>{% for message in messages %}
    	    <li>{{ message }}</li>{% endfor %}
	</ul>{% endif %}{% endwith %}
    </p> -->

    <div class="title">
	<h1>messages {{messinfo}}</h1>
    </div>
    <div style="/*padding-top: 27px;*/">
        <ul class="message">
	    {% for i in result[:10] %}
	    <li onclick="clipcopy(this.innerText);"><pre>{{ i }}</pre></li>
	    {% endfor %}
        </ul>
    </div>
    <div class="title">
	<h1 style="padding-top: 60px;">files {{filesinfo}}</h1>
    </div>
    <div style="/*padding-top: 67px;*/">
        <ul class="message">
	    {% for i in files %}
	        <li><a href=get/{{i}}>{{i}}</a></li>
	    {% endfor %}
        </ul>
    </div>
    <div class="container containerinput">
        <form method="post" action="/" enctype="multipart/form-data">
		<div class="row">
			<div class="col-md-6"><input type="file" name="file" autocomplete="off"></div>
			<div class="col-md-6"><input type="submit" class="btn btn-primary textsubmit" value="submit"></div>
		</div>
        </form>
        <form method="post" action="/text" enctype="multipart/form-data">
		<div class="row">
			<div class="col-md-6"><textarea name="text" autocomplete="off" class="textinput"></textarea></div>
			<div class="col-md-6"><input type="submit" class="btn btn-primary textsubmit" value="submit"></div>
        	</div>
	</form>
    </div>
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>

    <script>
	function clipcopy(x) {
	    var elem = document.createElement("textarea");
	    document.body.appendChild(elem);
	    elem.value = x;
	    elem.select();
	    document.execCommand("copy");
	    document.body.removeChild(elem);
	}
    </script>

</body>

</html>
