.message li {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 15px;
  padding: 15px;
  border-radius: 4px;
  list-style-type: none;
  transition-duration: 500ms;
}

.uploadul {
  /*color: white;*/
  width: 67%;
  margin: auto;
  /*display: inline-table;*/
  /*justify-content: center;*/
  padding: 15px;
  /*padding-top: 15px;*/
  /*padding-bottom: 15px;*/
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.09);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px 0px inset;
}

.message {
  width: 70%;
  margin: auto;
  /*display: inline-table;*/
  /*justify-content: center;*/
  padding: 0px;
}

.messagediv {
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*max-width: 20em;*/
  text-align: center;
}

.info {
  text-align: center;
}

.info {
  padding-top: 50px;
  padding-bottom: 50px;
}

.title {
  text-align: center;
}

.message li:hover {
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
  transition-duration: 500ms;
}

.inputdiv {
  text-align: center;
}

.uploadul li {
  list-style-type: none;
  margin-bottom: 15px;
}

.btn.btn-primary {
  margin-left: 20px;
  margin-right: 20px;
}

.textinput {
  border-radius: 3px;
  height: em;
}

.btn.btn-primary.textsubmit {
  margin-bottom: 30px;
}

.container.containerinput {
  background-color: rgba(0,255,10,0.05);
  max-width: 68%;
  margin-top: 100px;
  padding: 20px;
  text-align: center;
  margin-bottom: 60px;
  box-shadow: rgb(27,188,53) 0px 0px 0px 3px, rgb(0,255,25) 0px 0px 0px 6px, rgb(255,255,255) 0px 0px 0px 9px, rgb(145,145,145) 0px 0px 0px 12px, rgb(0,0,0) 0px 0px 0px 15px;
  /*box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;*/
}

@media (max-width: 780px) {
  .textsubmit {
    margin-top: 10px;
  }
}

